</div>
  <footer>
    <center>
      <div class="alert alert-warning fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Note:</strong> our privacy policy has been updated, we strongly reccomend you to read it again.
      </div>
    </center>
  </footer>
<div class="footer">
  <p>&copy; Fact Fancy inc. 2022</p>
  <a class="footer-a" href="/privacy">Privacy-Policy</a>
  <a class="footer-a" href="/contact_us">Contact Us</a>
  <a class="footer-a" href="/terms-and-conditions">Terms</a>
  <br>
</div>
</body>

</html>
