</div>
<div class="footer">
  <p>&copy; Fact Fancy inc. 2022</p>
  <a class="footer-a" href="/privacy">Privacy-Policy</a>
  <a class="footer-a" href="/contact_us">Contact Us</a>
  <a class="footer-a" href="/terms-and-conditions">Terms</a>
  <br>
</div>
</body>

</html>
