<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Compose | Fact Fancy</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script type="text/javascript" src="/css/declarativeToggle.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
  <link rel="apple-touch-icon" sizes="180x180" href="/css/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/css/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/css/favicon-16x16.png">
<link rel="manifest" href="/css/site.webmanifest">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <nav class="nav navbar navbar-inverse">
    <div class="container">
      <div class="nav navbar-header">
        <p class="navbar-brand">FACT FANCY</p>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <!-- 6 -->
        <li class="link-nav" id="home"><a href="/">HOME</a></li>
        <li class="link-nav" id="facts"><a href="/facts">FACTS</a></li>
        <li class="link-nav" id="about"><a href="/about-us">ABOUT US</a></li>
        <li class="link-nav" id="contact"><a href="/contact_us">CONTACT US</a></li>
      </ul>
    </div>
  </nav>
  <span data-toggle-target=".nav" class="toggle-btn"><img src="/css/menu.png" alt="menu"></span>
</head>
<body>
  <div class="container">
    <script>
    var slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("dot");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";
    }

    function postFact() {
      alert("Post Fact?");
    }
    </script>


<div class="blank">
  <br>
</div>
<br>
<h1>Add a new fact</h1>
<form class="" action="/compose" method="post">
  <div class="form-group">
    <label>Header</label>
    <input class="form-control" type="text" name="postTitle" autocomplete="off">
    <label>Fact(s)</label>
    <textarea class="form-control" name="postBody" rows="5" cols="30" autocomplete="off"></textarea>
  </div>
  <button class="btn btn-primary" type="submit" name="button" onclick="postFact()">Publish</button>
</form>
<br>
<br><br>
<br><br><br>
<br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br><br>
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br>
<%- include('partials/footer'); -%>
