<%- include("partials/header"); -%>
<div class="body">
  <div class="start top">
    <h1>Fact Fancy</h1>
    <p><%= startingContent %></p>
  </div>
  <hr>
  <h1>Unlimited Facts!</h1>
  <p>Being updated every day Fact Fancy&#169; does not run out of facts.</p>
  <br><br>
  <h1>Space design</h1>
  <p>When there are too many facts, Fact Fancy&#169; shortens all the facts to 100 characters and when you click '<u>Read More</u>', it takes you to the full page.</p>
  <br><br>
  <h1>Find out more!</h1>
  <p>To get more facts email k.kundra2012@gmail.com or go to the <a class="inline-p" href="/contact">Contact</a> page.
  <p>
</div>
<%- include("partials/footer"); -%>
