<%- include("partials/header"); -%>
<center>
<div class="body">
  <div class="start top">
    <h1>Fact Fancy | Home</h1>
    <p><%= startingContent %></p>
  </div>
  <hr>
  <h1>Unlimited Facts!</h1>
  <p>Being updated every day Fact Fancy&#169; does not run out of facts.</p>
  <br>
  <img src="css/page.png" class="page-image-1" alt="image">
  <img src="css/mobilepage.png" class="page-image-mobile-1" alt="image">
  <br><br>
  <h1>Space design</h1>
  <p>When there are too many facts, Fact Fancy&#169; shortens all the facts to 100 characters and when you click '<u>Read More</u>', it takes you to the full page.</p>
  <br>
  <div class="image-res">
    <img src="css/img.png" class="page-image-2" alt="image">
    <img src="css/mobileimg.png" class="page-image-mobile-2" alt="image">
  </div>
  <br><br>
  <h1>Find out more!</h1>
  <p>To get more facts email k.kundra2012@gmail.com or go to the <a class="inline-p" href="/contact_us">Contact</a> page.</p>
  <p><br><br><br></p>
  <h1 class="big">Start Now!</h1>
  <br>
  <h4>Fact Fancy is completely free to use and does not require an account or any personal information.</h4>
  <br><br>
  <div class="btn-group btn-group-justified">
    <a href="/facts" class="btn btn-primary home-bottom-link-group">Facts</a>
    <a href="/compose/add-a-new-fact/V1faVFhHVCFrhoGKf07us2taSSe7DcxIT1mx664ntlGrKxdwr8PEfserIFSMk112ne7GfOUqmdQSaSDIodcWEQOYfHrKb08tTZOf/Cs3DQqfVVlKbVQkuTJNYlK2aMr1RHLrOz5snrKjCsw5gCNgsdfzq6LtoJrFKhvORIvwly12XJjp76nbAnZRREl3nACd0mvNvf5sL" class="btn btn-primary home-bottom-link-group">Add a fact</a>
    <a href="/contact_us" class="btn btn-primary home-bottom-link-group">Contact us</a>
  </div>
</div>
</center>
<br><br><br><br><br><br><br><br><br><br><br><br>
<%- include("partials/footer"); -%>
