* {
  margin: 0;
  padding: 0;
}

nav {
  z-index: 1000000000000000000000000000000000000000000000000000000000000;
}

.pad {
  margin-top: 150px;
}

.bootstrap-logo {
  border-radius: 10px;
  transform: rotate(10deg);
  height: 100px;
  margin-left: auto;
}

.hr-f {
  width: 60%;
  margin: 25px auto;
  border-style: none;
  border-top-style: solid;
  border-color: black;
  border-width: 0.00000001px;
}

.node-logo {
  border-radius: 10px;
  transform: rotate(10deg);
  height: 100px;
  margin-left: 900px;
  bottom: auto;
}

.li{
  list-style: none;
  display: inline-flex;
}

.link{
  margin: 5px;
  font-size: 15px;
}

.what-we-do{
  width: 70%;
  margin: auto;
}

.footer-a {
  color: black;
}

.footer-a:hover {
  text-decoration: underline;
  color: black;
}

.hidden-a:hover{
  text-decoration: none;
}

html {
  min-height: 2000px;
}

.reviews {
  background-color: rgba(135, 480, 120, 0.04);
  border: 1px solid black;
  width: 100%;
  margin: 0;
  padding: 100px;
}

body {
  background-color: #E4E9FD;
}

.big {
  font-size: 45px;
}

.a-btn {
  color: #fff;
  margin: 5px 5px 0 0;
}

.a-btn:hover {
  color: snow;
}

#name{
  width: 400px;
  height: 40px;
  border-radius: 0px;
  padding: 10px;
  border-bottom: 2px solid #E4E9ED;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  background-color: #E4E9EC;
}

#email{
  width: 400px;
  height: 40px;
  border-radius: 0px;
  padding: 10px;
  border-bottom: 2px solid #E4E9ED;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  background-color: #E4E9EC;
}

.img-res{
  text-align: center;
}

#name:focus{
  width: 400px;
  height: 40px;
  border-radius: 0px;
  padding: 10px;
  border-bottom: 2px solid #A683E3;
  outline: none;
  background-color: #E4E9EC;
}

#email:focus{
  width: 400px;
  height: 40px;
  border-radius: 0px;
  padding: 10px;
  border-bottom: 2px solid #A683E3;
  outline: none;
  background-color: #E4E9EC;
}

.placeholdertext{
  height: 200px;
  width: 440px;
  border-radius: 0px;
  padding: 10px;
  border-bottom: 2px solid #E4E9ED;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  background-color: #E4E9EC;
}

.placeholdertext:focus{
  border-bottom: 2px solid #A683E3;
}

.placeholdertext{
  outline: none;
}

.page-image-1{
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
  /* width: 800px;
  height: 450px; */
}

.lineHeight {
  line-height: 25px;
}

.page-image-2{
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
  /* width: 1100px;
  height: 500px; */
}

.body {
  text-align: center;
}

.blank {
  margin-bottom: 100px;
}

.clear:before, .clear:after {
  content: "";
  display: table;
}

.node {
  border: 1px solid black;
}

head a {
  text-decoration: none;
}

head a:hover {
  text-decoration: none;
}

hr {
  width: 60%;
  margin: 25px auto;
  border-style: none;
  border-top-style: solid;
  border-color: black;
  border-width: 2px;
  width: 100%;
}

.clear:after {
  clear: both;
}

.clear {
  zoom: 1;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

.navbar {
  position: fixed;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}

.navbar-nav li a:hover {
  color: #1abc9c !important;
}

.footer-padding {
  padding-bottom: 80px;
}

.footer {
  align-items: center;
  display: grid;
  text-align: center;
  bottom: 100px;
  width: 100%;
  min-height: 70px;
  background-color: #1abc9c !important;
}

.footer p {
  margin-top: 25px;
  font-size: 15px;
  color: #fff;
}

.about-imgs img {
  border-radius: 100%;
}

.top {
  text-align: center;
  margin-top: 150px;
  padding: 0;
  color: black;
}

.hr-sm{
  width: 40%;
  margin: 5px auto;
  border-style: none;
  border-top-style: solid;
  border-color: black;
  border-width: 0.2px;
}

.div {
  display: flex;
}

.img {
  height: 200px;
}

.people {
  margin-left: 300px;
}

.text {
  float: right;
  margin-top: 90px;
  margin-left: 30px;
}

.home-imgs {
  float: left;
  border-radius: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.38);
  width: 320px;
}

.start h1 {
  font-size: 60px;
}

.seventy-five{
  width: 75%;
  margin: auto;
}

/****************************** BBBBRRRRRRREEEEEEEEAAAAAAAAKKKKKKKK ****************************/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  background-color: rgba(0, 0, 0, .1);
  padding: 30px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */

.prev{
  left: 0px;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
